  
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,300,400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

$main: rgb(201, 201, 201);

::-webkit-scrollbar{
  background-color: transparent;
  position: relative;
  top:100px;
  width: 5px;
}
::-webkit-scrollbar-corner { 
  background: transparent; }
::-webkit-scrollbar-thumb{
  background-color: $main;
  border-radius: 5px;
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
*{margin: 0;padding: 0;box-sizing: border-box;}

h1, h2, h3, h4, h5, h6{
  font-family: 'Alegreya Sans SC', sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
}
body, p, span{
  font-weight: 400;
  font-family: 'roboto', sans-serif;
}

.App{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(108, 174, 255, 0.9);
  img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
    z-index: -1;
  }
}