::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.roomheader {
  min-width: 400px;
  max-width: 800px;
  width: 90vw;
  padding: 20px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  color: white;
  box-shadow: 0px 0px 10px black;
  background: linear-gradient(180deg, rgb(42, 42, 42) 0%, rgba(0, 0, 0) 100%);
}

.roomtitle {
  display: inline;
  font-size: 1.5rem;
}

.roomroom {
  display: inline;
  font-size: 1.5rem;
}

.roomleave a {
  display: inline;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  border-bottom: 1px solid white;
  background-color: transparent;
}

.roomcontainer {
  display: flex;
  max-height: 700px;
  min-height: 300px;
  max-width: 800px;
  min-width: 400px;
  height: 80vh;
  margin: 10px;
  padding: 20px;
  overflow: hidden;
  color: white;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(42, 42, 42) 100%
  );
  box-shadow: 0px 0px 10px black;
}

.chatcontainer {
  padding: 10px;
  width: 70%;
  text-align: left;
  color: white;
  background-color: rgb(53, 53, 53);
}

.chatmessagebox {
  height: 87%;
  overflow: scroll;
  color: black;
  border-radius: 10px;
  border: 2px black solid;
  background-color: white;
}

.chatmessages {
  margin-top: 10px;
  padding: 5px;
  word-wrap: break-word;
  border: 1px black solid;
  border-radius: 5px;
  background-color: rgba(0, 94, 255, 0.5);
}

.sidebar {
  flex-grow: 1;
  padding: 10px;
  background-color: rgb(53, 53, 53);
}

.sidebartitle {
  padding: 15px 0px 15px;
  margin-bottom: 15px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: black;
  background-color: white;
  border: 2px black solid;
  border-radius: 10px;
}

.sidebarusers {
  padding: 10px;
  margin-bottom: 5px;
  color: black;
  background-color: white;
  border: 2px black solid;
  border-radius: 10px;
}

.sidebarname {
  padding: 8px 0px 8px 5px;
  margin-top: 3px;
  color: black;
  background-color: rgb(229, 229, 229);
  border: 1px black solid;
  border-radius: 5px;
}

.usertyping {
  font-weight: bold;
  z-index: 0;
  padding: 10px 0px 0px 10px;
  margin-bottom: 20px;
  color: white;
}

.chatinput {
  margin-top: 10px;
  width: 100%;
}

.inputfield {
  padding: 7px;
  width: 80%;
  height: 20px;
  overflow: hidden;
  border-radius: 10px;
  border: 2px black solid;
}

.button {
  color: white;
  line-height: 25px;
  float: right;
  padding: 5px 20px 5px 20px;
  background-color: rgba(0, 94, 255, 1);
  -webkit-appearance: none;
  cursor: pointer;
  border-radius: 10px;
  border: 2px black solid;
}

ul {
  width: 80%;
  padding: 20px;
}
